.bannerAbout-bloc {
    display: flex;
    justify-content: center;
    position: relative;
}
.bannerAbout-el {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    max-width: 1240px;
    border-radius: 25px;
}  
.bannerAbout-img {
        background: url("../../assets/BannerAbout.jpg");
        background-size: cover;
        height: 223px;
        width: 100%;
        max-width: 1240px;
        border-radius: 25px;
        position: absolute;
        z-index: 1;
}
@media screen and (max-width: 768px){
    .bannerAbout-img {
        background:url("../../assets/BannerAbout_mob.png");
        background-size: cover;
    }
}