.bannerHome-bloc {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 1240px;
    padding-bottom: 40px;
}
.bannerHome-el {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    max-width: 1240px;
    border-radius: 25px;
}
.bannerHome-h1 {
    font-size: 35px;
    color: white;
    font-weight: 500;
    z-index: 3;
    line-height: 24px;
    margin: 0 20px;
}
.bannerHome-img {
    background: url("../../assets/BannerHomeDesk.jpg");
    background-position: center;
    background-size: cover;
    height: 223px;
    width: 100%;
    max-width: 1240px;
    border-radius: 25px;
    position: absolute;
    z-index: 1;
    filter: brightness(70%);
}
@media screen and (max-width: 768px){
    .bannerHome-bloc {
        padding: 0;
    }
    .bannerHome-el {
        height: 111px;
        border-radius: 10px;
    }
    .bannerHome-img {
        background: url("../../assets/BannerHomeDesk_mob.jpg");
        background-position: bottom;
        height: 111px;
        border-radius: 10px;
    }
    .bannerHome-h1 {
        font-size: 23px;
    }
}