.collapse-bloc {
    padding: 10px 0px;
    flex:1;
}
.collapse-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    border-radius: 5px;
    border: none;
    height: 47px;
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-family: montserrat;
    font-size: 20px;
    color: #F2F2F2;
}

.collapse-desc {
    font-family: montserrat;
    color: #FF6060;
    size: 24px;
    background: #F2F2F2;
    border-radius: 0px 0px 5px 5px;
    padding: 15px 10px 5px 10px;
    list-style-type: none;
    position: relative;
    top: -5px;
    z-index: -1;
}
@media screen and (max-width: 768px){
    .collapse-bloc {
        padding: 0;
    }
    .collapse-btn {
        font-size: 13px;
        height: 35px;
    }
    .collapse-desc {
        font-size: 12px;
    }
    .arrowDown {
        height: 20px;
    }
    .arrowUp {
        height: 20px;
    }
}