.error {
    text-align: center;
    color: #FF6060;
    font-family: montserrat;
    margin: 40px auto;
}
.error-title {
    font-size: 288px;
 
    margin:0;
}

.error-title2 {
    font-size: 36px;
    margin-bottom: 150px;;
    font-weight: 500;
}

.link-error {
    color: #FF6060;
    font-family: montserrat;
    font-size: 18px;
    font-weight: 500px;
    
}

@media screen and (max-width: 1024px){
    .error-title {
        font-size: 96px;
    }
    .error-title2 {
        font-size: 18px;
    }
    .link-error {
        font-size: 14px;
    }
}