.footer-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 209px;
    margin:auto;
    width: 100%;

}
.footer-logo {
        padding: 35px 0 20px 0;
}
.footer-brand {
        color: white;
        font-size: clamp(12px, 3vw, 24px);
}