.header-bloc {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: 40px auto;
    max-width: 1240px;
}
.header-logo {
    width: 210px;
}
.header-nav {
    display: flex;
}
.header-link {
    list-style-type: none;
    padding: 20px 0 20px 40px;
}
.nav-links {
    font-size: 24px;
    font-weight: 500; 
    color:#FF6060;
    text-decoration: none;
}
.nav-links:focus {
    text-decoration: underline;
}
.nav-links:active {
    text-decoration: underline;
}