.header-bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 1240px;
    margin: 40px auto;
    padding: 0px 70px;
}
.header-logo {
    width: 210px;
}
.header-nav {
    display: flex;
}
.header-link {
    list-style-type: none;
    padding: 20px 0 20px 40px;
}
.nav-links {
    font-size: 24px;
    font-weight: 500; 
    color:#FF6060;
    text-decoration: none;
}
.nav-links:focus {
    text-decoration: underline;
}
.nav-links:active {
    text-decoration: underline;
}
@media screen and (max-width: 1024px){
    .header-bloc {
        justify-content: space-between;
        padding: 0px 20px;
        margin: 20px auto;
    }
    .header-logo {
        width: 160px;
    }
    .header-link {
        padding-left: 30px ;
    }
    .nav-links {
        font-size: 20px;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 768px){
    .header-logo {
        width: 110px;
    }
    .header-link {
        padding-left: 15px ;
    }
    .nav-links {
        font-size: 14px;
    }
    
}