@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1240px;
  margin: 40px auto;
  padding: 20px 70px;
}
@media screen and (max-width: 1024px){
  .container {
    padding: 0px 20px;
    margin: 20px auto;
  }
}