@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 800px){
  body {
    margin : 0;
  }
}