@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 800px){
  body {
    margin : 0;
  }
}
.container {
  max-width: 1240px;
  margin: auto;
  padding-bottom: 30px;
}