.place {
    display: flex;
    justify-content: space-between;
}
.place-title {
    font-family: 'Montserrat';
    font-weight: 500;
    size: 36px;
    line-height: 51.34px;
    color: #FF6060;
    font-size: 36px;
    transition-duration: 1s;
}
.place-location {
    font-family:'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    margin-top: -25px;
}
.place-location-tags {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0;
}
.tag-place {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
    margin-top: 5px;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat';
    color: #F2F2F2;
    background-color: #FF6060;
}
.account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.account-host{
    margin-top: 25px;
}
.account-star{
    margin-left: 30px;
}
.account-host-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.account-host-name {
    width: 93px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
}
.account-host-img {
    height: 64px;
    width: 64px;
    border-radius: 32px;
}
.account-host-star {
    height: 30px;
    width: 30px;
    margin-bottom: 22px;
}
.collapses-place {
   display: flex;
   justify-content: center;
   gap: 40px;
   width: 100%;
}
.collapse-equip {
    list-style-type: none;
    padding-left: 0;
}
@media screen and (max-width: 768px){
    .place {
        display: block;
    }
    .place-title {
        font-size: 18px;
    }
    .place-location {
        font-size: 14px;
    }
    .tag-place {
        height: 20px;
        font-size: 10px;
    }
    .account {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }
    .account-host {
        margin: 0;
    }
    .account-star {
        margin: 0;
    }
    .account-host-name {
        font-size: 12px;
    }
    .account-host-img {
        height: 32px;
        width: 32px;
    }
    .account-host-star {
        margin: 0;
        height: 15px;
        width: 15px;
    }
    .collapses-place {
        display: block;
    }
}