.carousel {
    position: relative;
    height: 415px;
    transition-duration: 1s;
}
.carousel-img {
    width: 100%;
    object-fit: cover;
    height: 415px;
    border-radius: 25px;
    transition-duration: 1s;
}
.carousel-btn-left {
    position: absolute;
    height: 79.2px;
    top: 45%;
    left: 2%;
    transition-duration: 1s;
    z-index: 10;
    filter: drop-shadow(1px 1px 20px black);
}
.carousel-btn-left:hover {
    cursor: pointer;
}
.carousel-btn-right {
    position: absolute;
    height: 79.2px;
    top: 45%;
    right: 2%;
    transition-duration: 1s;
    z-index: 10;
    filter: drop-shadow(1px 1px 20px black);
}
.carousel-btn-right:hover {
    cursor: pointer;
}
.counter-pic {
    position: absolute;
    height: 79.2px;
    right: 50%;
    top: 85%;
    z-index: 10;
    color: #F2F2F2;
    font-weight: 500;
}
.place-slide {
    margin: 0;
}
@media screen and (max-width: 768px){
    .carousel {
        height: 255px;
    }
    .carousel-img {
        height: 255px;
    }
    .carousel-btn-right {
        height: 50px;
    }
    .carousel-btn-left {
        height: 50px;
    }
    .counter-pic {
        z-index: -1;
    }
}