.carousel {
    position: relative;
    height: 415px;
    transition-duration: 1s;
    margin: 0 20px;
    padding: 0 20px;
}

.carousel-img {
    width: 100%;
    object-fit: cover;
    height: 415px;
    border-radius: 25px;
    transition-duration: 1s;
}
.carousel-btn-left {
    position: absolute;
    height: 79.2px;
    top: 45%;
    left: 1%;
    transition-duration: 1s;
}
.carousel-btn-left:hover {
    cursor: pointer;
}
.carousel-btn-right {
    position: absolute;
    height: 79.2px;
    top: 45%;
    right: 1%;
    transition-duration: 1s;
}
.carousel-btn-right:hover {
    cursor: pointer;
}